<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Survey</title>
    <include href="includes/header.htm"></include>
</head>
<body>
<div class="container">
    <h1>Midterm Survey</h1>

    <form action="#" method="post" class="form-horizontal">
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Name</label>

            <div class="col-sm-4">
                <input class="form-control" type="text" name="name" id="name">
            </div>
        </div>
        <!-- get option -->
        <div class="form-group">
            <label class="col-sm-2 control-label">Check all that apply</label>
            <div class="col-sm-4">
                <repeat group="{{ @options }}" value="{{ @option }}">
                    <label><input type="checkbox"
                                  name="options[]"
                                  value="{{ @option }}"> {{ ucfirst(@option) }}</label><br>
                </repeat>
            </div>
        </div>

        <div class="col-xs-3 ">
            <input class="form-control btn btn-default"
                   type="submit" value="Submit">
        </div>
    </form>
</div>
</body>
</html>